[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
wagtail = "*"
django-extensions = "*"
django-crispy-forms = "*"
crispy-tailwind = "*"
django-browser-reload = "*"

[dev-packages]

[requires]
python_version = "3.10"
